<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osca.mapper.MemberMapper">

    <insert id="memInsert">
        insert into tbl_member (memId, memName, memEmail) values (#{memID},#{memName},#{memEmail})
    </insert>


</mapper>