<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osca.mapper.MemberMapper">

    <insert id="memInsert">
        insert into tbl_member (memId, memName, memEmail) values (#{memID},#{memName},#{memEmail})
    </insert>


    <insert id="memRoleInsert">
        insert into tbl_member (memId, memPW, memName, regDate, updateDate) values (#{memID}, #{memPW}, #{memName}, #{regDate},
                                                                                    #{updateDate})
    </insert>






    <select id="memSelectOne" resultMap="memberMap">
        select *
        from tbl_member mem inner JOIN tbl_auth au
            on mem.memID = au.memID
        where mem.memID = #{memID}
    </select>

    <resultMap id="memberMap" type="com.osca.domain.Member">
        <result property="memNo" column="memNo"></result>
        <result property="memID" column="memID"></result>
        <result property="memPW" column="memPW"></result>
        <result property="memName" column="memName"></result>
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>
    <resultMap id="authMap" type="com.osca.domain.Auth">
        <result property="memID" column="memID"></result>
        <result property="rolename" column="rolename"></result>
    </resultMap>



</mapper>