<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osca.mapper.NoticeBoardMapper">

    <!--crud-->
    <insert id="noInsert">
        insert into tbl_noticeboard (noWriter, noTitle, noContent,noticeRead)
        VALUES (#{noWriter},#{noTitle},#{noContent},#{noticeRead});
    </insert>

    <select id="getOneOfNoticeBoard" resultType="com.osca.domain.NoticeBoard">
        select * from tbl_noticeboard where noNo = #{noNo}
    </select>

    <update id="noUpdate">
        update tbl_noticeboard
        set noTitle = #{noTitle}, noContent = #{noContent}
        where noNo = #{noNo}
    </update>
    <update id="noDelUpdate">
        update tbl_noticeboard
        set noTitle = 'DELETE', noContent = 'DELETE', noWriter= 'DELETE', noDelFlag = 1
        where noNo = #{noNo}
    </update>


<!--    -->
    <!--    -->
<!--    <select id="getListOfNoticeBoard" resultType="com.osca.domain.NoticeBoard">-->
<!--        select *-->
<!--        from tbl_noticeboard-->
<!--        where noDelFlag != 1-->
<!--        order by noNo desc-->
<!--        limit #{skip}, #{size}-->
<!--    </select>-->
<!--    -->
    <select id="getListOfNoticeBoard" resultType="com.osca.domain.NoticeBoard">

        (select noNo,noTitle,noWriter,regDate,noDelFlag,noticeRead,noViews
        from tbl_noticeboard as a where noticeRead = 1 and noDelFlag != 1
        order by noNo desc limit 5)
        union
        (select noNo,noTitle,noWriter,regDate,noDelFlag,noticeRead,noViews
        from tbl_noticeboard as b where noticeRead = 0 and noDelFlag != 1)
        order by noticeRead desc, noNo desc limit #{skip}, #{size}

    </select>
<!--    -->
<!-- 원래 끝에 limit #{skip}, #{size}값을 줬는데 부트스트랩 자체 페이징 기능이 있어서 쓸려면 이거 쓸지 강사님에게 물어봐라 -->
<!--    그런데 이래버리면 자동으로 페이징 만들어서 넣어버리네 다시 limit 넣자-->



<!--    <select id="noticeGetTotal" resultType="int">-->
<!--        select count(*) from tbl_noticeboard where noDelFlag != 1-->
<!--    </select>-->

    <select id="noticeGetTotal" resultType="int">
        select count(*) from tbl_noticeboard where noticeRead = 0 and noDelFlag != 1
    </select>


    <!--이미지 목록요청-->
    <select id="selectNoFiles" resultType="com.osca.domain.NoticeFile">
        select * from tbl_noticefile where noNo = #{noNo}
    </select>

    <update id="noViewsUp">
        update tbl_noticeboard set noViews = noViews + #{views} where noNo = #{noNO}
    </update>

</mapper>