<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osca.mapper.NoticeBoardMapper">

    <!--crud-->
    <insert id="noInsert">
        insert into tbl_noticeboard (noWriter, noTitle, noContent)
        VALUES (#{noWriter},#{noTitle},#{noContent});
    </insert>

    <select id="getOneOfNoticeBoard" resultType="com.osca.domain.NoticeBoard">
        select * from tbl_noticeboard where noNo = #{noNo}
    </select>


<!--    -->
    <!--    -->
    <select id="getListOfNoticeBoard" resultType="com.osca.domain.NoticeBoard">
        select *
        from tbl_noticeboard
        where noDelFlag != 1
        order by noNo desc
        limit #{skip}, #{size}
    </select>

    <select id="noticeGetTotal" resultType="int">
        select count(*) from tbl_noticeboard where noDelFlag != 1
    </select>

</mapper>