<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osca.mapper.RequestMapper">

    <insert id="reqInsert">
        <selectKey resultType="int" keyProperty="conNo" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into tbl_contract (conName, conCategory, conLocation, conSpace, memId, conContent, conRequest, conCondition, conStartDay, conEndDay, conPrice, conDocument, conImg )
        values (#{conName}, #{conCategory}, #{conLocation}, #{conSpace}, #{memId}, #{conContent}, #{conRequest}, #{conCondition},#{conStartDay}, #{conEndDay}, #{conPrice}, #{conDocument}, #{conImg})
    </insert>

    <select id="selectRequestList" resultType="com.osca.domain.Contract">
        select *
        from tbl_contract
        where memId = #{memberId}
        order by conNo desc
            limit #{listDTO.skip}, #{listDTO.size}
    </select>

    <select id="getRequestOne" resultType="com.osca.domain.Contract">
        select *
        from tbl_contract
        where conNo = #{conNo}
    </select>

    <select id="getRequestTotal" resultType="int">
        select count(conNo)
        from tbl_contract
    </select>

<!--TODO 이거 아닌것 같음-->
    <select id="selectCompanyOne" resultType="com.osca.domain.Company">
        select *
        from tbl_company
        where conNo = #{conNo}
        order by comNo asc
    </select>




<!--일단 안되니까 limit 빼보자-->
<!--    limit #{listDTO.skip}, #{listDTO.size}-->
    <select id="getCompanyTotal" resultType="int">
        select count(comNo)
        from tbl_company
    </select>

    <update id="reqContract">
        update tbl_contract set comId = #{comId},conCondition = 2, conPrice =#{conPrice}  where conNo = #{conNo};
    </update>
<!--    todo 25 7:16-->
    <update id="reqDelContract">
        update tbl_contract set comId = null ,conCondition = 0  where conNo = #{conNo};
    </update>

    <update id="reqUpdate">
        update tbl_contract set conName = #{conName},
                                conCategory = #{conCategory}, conLocation = #{conLocation}, conLocation = #{conLocation},
                                conSpace = #{conSpace}, conContent = #{conContent}, conRequest = #{conRequest}
    </update>
    <update id="reqUpdateComId">
        update tbl_contract set comId = #{comId}, conCondition = 1, beforePrice = #{beforePrice} where conNo = #{conNo};
    </update>
    <select id="selectReqCom" resultType="com.osca.domain.Company">
        select *
        from tbl_company
        where comId = #{comId}
        order by comNo asc
    </select>
    <update id="reqUpdateContract">
        update tbl_contract set conCondition = 2, conPrice = #{conPrice} where conNo = #{conNo} and memId = ${memId} ;
    </update>
<!--todo 25 7:16-->

</mapper>